/*custom.css*/

html,
body{
    height: 100%;
}

/* cover */

.cover{
    background: #222 url(images/RiverRocks-min.jpg) top no-repeat;
    background-size: cover;
    color: ghostwhite;
    text-shadow: 2px 2px #222;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out; 
}

.shrink{
    height: 350px;
}

.cover span{
    color: white;
    font-size: 40px;
}

#cover-caption{
    width: 100%;
}

.cover h1{
    font-size: 5em;
}

@media only screen and (max-width: 330px){
   .cover h1{
    font-size: 4em;
    } 
}

.cover p{
    font-size: 2em;
}

nav {
  border-radius: 0 !important;
}

.thumbnail{
    padding-top: 20px;
    height: 500px;
}

.thumbnail img{
    border-radius: 15px;
    box-shadow: 2px 2px 5px;
}

#about{
    background-color: #303030;
    color: ghostwhite;
    height: 550px;
}

#about .container-fluid{
    padding-top: 20px;
}

#about img{
    height: 250px;
    float: left;
    margin: 20px;
}

#about p{
    font-size: 1.2em;
    padding: 20px;
}

#about h1{
    padding-left: 20px;
}


.item{
    height: 600px;
}

.carousel-inner img{
    zoom: 3;  //increase if you have very small images

    display: block;
    margin: auto;

    height: auto;
    max-height: 100%;

    width: 100%;
    max-width: 100%;

}

/*Contact Form*/
#contact{
    background-color: #303030;
    color: ghostwhite;
    padding:15px 30px 0 30px;
}

.form-horizontal{
    width: 95%;
}

#contact h1{
    padding-bottom: 15px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
    text-align: center;
}

footer p{
    padding-top: 10px;
}
